exportPattern("^[[:alpha:]]+")
exportClasses("ExomeDepth")
exportMethods("TestCNV", CallCNVs)
useDynLib(ExomeDepth, .registration=TRUE)
importFrom(Rsamtools, ScanBamParam)
importFrom(GenomicAlignments, readGAlignments, readGAlignmentPairs, summarizeOverlaps)
import(GenomicRanges)
importFrom(IRanges, IRanges)
importFrom(methods, initialize, new, show)
importFrom(aod, betabin)
importFrom("graphics", "axTicks", "axis", "layout", "lines", "par", "points", "polygon", "text")
importFrom("stats", "approxfun", "as.formula", "cor", "dbeta","dbinom", "median", "quantile")
importFrom("utils", "read.delim")
