exportPattern("^[[:alpha:]]+")
exportClasses("ExomeDepth")
exportMethods("TestCNV", CallCNVs)
useDynLib(ExomeDepth, .registration=TRUE)
importFrom(GenomicRanges, GRanges, seqlevels)
importFrom(IRanges, IRanges)
importFrom(methods, initialize, new, show)
importFrom(aod, betabin)
