exportPattern("^[[:alpha:]]+")
exportClasses("ExomeDepth")
exportMethods("TestCNV", "CallCNVs")
useDynLib(ExomeDepth, .registration=TRUE)
importFrom(GenomicRanges, "GRanges")
importFrom(IRanges, "IRanges")


